<!DOCTYPE html>
<html ng-app="gmapsPOC">
  <head>
    <meta charset="UTF-8">
    <title>Google Maps API Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
    <div class="container" ng-controller="gmapsController">
      <form name="setCoordinates" ng-submit="searchPlacesByName()" class="form-inline" method="get">
        <div class="form-group">
          <label for="placeName">Qual lugar deseja buscar?</label>
          <input id="placeName" type="text" class="form-control input" ng-model="name" ng-model-instant/>
          <input class="btn btn-primary" type="submit"/>
        </div>
      </form>
      <br/>
      <table class="table table-bordered">
        <tr>
          <td>
            Nome:
          </td>
          <td>
            Id:
          </td>
          <td>
            Tipo do lugar:
          </td>
          <td>
            PhotoReference:
          </td>
        </tr>
        <tr ng-repeat="place in places[0] track by $index">
          <td>
            {{place.name}}
          </td>
          <td>
            {{place.id}}
          </td>
          <td>
            {{place.types}}
          </td>
          <td>
            {{place.photos[0].photo_reference[0]}}
          </td>
        </tr>
      </table>
    </div>
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/gmaps/gmapsController.js"></script>
    <script type="text/javascript" src="js/gmaps/gmapsFactory.js"></script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol)
        ? "https://ssl."
        : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-70316402-1");
        pageTracker._trackPageview();
      } catch (err) {}
    </script>
  </body>
</html>
